:root {
}
* {
  margin: 0;
  box-sizing: border-box;
  
}

/*  navbar design for pc */
.nav-wrapper {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0px 5px rgb(235, 235, 235);
}

.nav-container {
  background-color: rgb(255, 255, 255);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-container {
  background-color: white;
}
.nav-links {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-links li:first-child {
  color: orange;
}
.nav-links li > div {
  background-color: orange;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links [class|="fa"] {
  font-size: 10px;
  color: white;
}

/* Hero section */
.hero-wrapper {
  background: #ffecc9;
  background: linear-gradient(
    0deg,
    rgba(255, 236, 201, 1) 0%,
    rgba(255, 243, 219, 1) 57%,
    rgba(255, 248, 235, 1) 100%
  );
  height: 120vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-container {
  width: 40%;
}
.hero-text-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20%;
  flex-direction: column;
}

.hero-text-container [class|="fa"] {
  font-size: 40px;
  color: #83e7f3;
}
.hero-text-container div:first-of-type {
  font-size: 3vw;
  font-weight: bolder;
}
.hero-text-container div:nth-of-type(2) {
  font-size: 21px;
}
.hero-text-container p {
  color: rgb(190, 186, 186);
  text-align: center;
  font-size: 14px;
}
.hero-text-container button {
  width: 100px;
  height: 30px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* hero image container section */
.hero-img-container {
  height: 50%;
  position: relative;
  overflow: hidden;
}
.circle-container {
  width: 39vw;
  height: 39vw;
  background-color: orange;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60%);
  border-radius: 50%;
}
.hero-img {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.hero-img-container .box {
  width: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.web-container {
  position: absolute;
  left: 10%;
  top: 50%;
}
.freelance-container {
  position: absolute;
  right: 10%;
  top: 70%;
}
.hero-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
